<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start custom-font">
      <a class="navbar-item" routerLink="/" routerLinkActive="router-link-exact-active"
        [routerLinkActiveOptions]="{ exact: true }">
        Marvel's Movies
      </a>

      <a class="navbar-item" routerLink="/interface-web" routerLinkActive="router-link-exact-active"
        [routerLinkActiveOptions]="{ exact: true }">
        Interface Web
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      </div>
    </div>
  </div>
</nav>
